body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Tahoma, sans-serif;
    background-color: #f0f0f0;
}
.container {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
}
input[type="password"] {
    width: calc(100%);
    flex: 1;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.button-container button {
    width: 100%;
    padding: 8px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 5px;
}
.form-group {
    display: flex;
    align-items: center;
}
.form-group label {
    width: 48px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-group input[type="password"] {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.passwd-modal-content {
    background-color: #fefefe;
    display: inline-block;
    padding: 20px;
    border: 1px solid #888;
    max-width: 200px;
    width: auto;
    text-align: left;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}